<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav" style="margin-bottom:1em">
  <span (click)="clickTitle()">
    <img class=" logo" src="{{navBarData.logoURL}}" alt="">
    <a class="ellipsis" style="font-size: 25px; text-align: center; margin-left: 11px">
      {{navBarData.appTitle}}</a>
  </span>
  <span *ngFor="let item of navBarData.menuEntries">
    <a id="{{item.href}}" style="font-size: 20.6px" class="hide" [ngClass]="{active: item.isActive}"
      (click)="clickEntry(item.href)">{{item.text}}</a>
  </span>
  <a class="icon" (click)="myFunction()" style="font-size:24px">
    <i id="burgerMenu" class="fa fa-bars"></i>
  </a>
</div>
