<lib-navbar [navBarData]="navBarData" (clickMenuEntry)="onClickMenuEntry($event)"></lib-navbar>

<div class="contentContainer" style="margin-top: 20vh">

  <h3>Peer To Peer Collaboration Playground</h3>
  <div *ngIf="mode===''" style="margin-top: 7vh">

    What would you like to do?

    <p><br></p>
    <button (click)="fundTask()" type="button" class="btn btn-primary">
      Fund a Task
    </button>

    <p><br></p>
    <button (click)="solveTask()" type="button" class="btn btn-success">
      Solve a Task
    </button>

  </div>

  <div *ngIf="mode=='fund'">
    <app-fund></app-fund>
  </div>


  <div *ngIf="mode=='solve'">
    <app-solve></app-solve>
  </div>

  <div *ngIf="mode==='about'">
    <app-about></app-about>
  </div>

  <div *ngIf="mode==='contact'">
    <app-contact></app-contact>
  </div>

</div>
