img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

input {
  margin-bottom: 1vh;
  margin-top: 3vh;
}

button {
  font-weight: 520;
  font-size: 21px;
  background-color: black;
  margin-top: 5vh;
  padding-top: 1.7vh;
  padding-bottom: 1.7vh;
  min-width: 100%;
}

.ourRedColor {
  color: rgb(213, 54, 84);
}

.ourBlueColor {
  color: rgb(93, 188, 210);
}

.ourRedBackgroundColor {
  background-color: rgb(213, 54, 84);
}

.ourBlueBackgroundColor {
  background-color: rgb(93, 188, 210);
}
.contentContainer {
  text-align: center;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 24vh;
}

.titleImage {
  width: 70%;
}

.titleBeneathImage {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.gce-table {
  margin-top: 2vh;
}

.adPad2 {
  padding-top: 2vh;
}

.adPad {
  padding-top: 6vh;
}

@media screen and (min-width: 600px) {
  .contentContainer {
    width: 60%;
  }
}

@media screen and (min-width: 1100px) {
  .contentContainer {
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  .contentContainer {
    width: 24%;
  }
}
