<app-navbar [navBarData]="navBarData" (clickMenuEntry)="onClickMenuEntry($event)"></app-navbar>
<div class="contentContainer">

  <span *ngIf="mode===''">
    <img src="../assets/collaboration-1.png" alt="" class="titleImage adPad">
    <!-- https://icons8.com -->
    <h4 class="titleBeneathImage adPad">
      Collaboration Playground
    </h4>
  </span>

  <div *ngIf="mode===''" style="margin-top: 3vh">

    <button id="fundATask" (click)="fundTask()" type="button" class="btn ourRedColor">
      <i class="fa fa-usd" aria-hidden="true" style="padding-right: 1vw;"></i>
      Fund a Task
      <i class="fa fa-usd" aria-hidden="true" style="padding-left: 1vw;"></i>
    </button>

    <button id="solveATask" (click)="solveTask()" type="button" class="btn ourBlueColor">
      <i class="fa fa-wrench" aria-hidden="true" style="padding-right: 1vw;"></i>
      Solve a Task
      <i class="fa fa-wrench" aria-hidden="true" style="padding-left: 1vw;"></i>
    </button>

  </div>

  <div *ngIf="mode=='fund'">
    <app-fund></app-fund>
  </div>

  <div *ngIf="mode=='profile'">
    <app-profile></app-profile>
  </div>



  <div *ngIf="mode=='downloadLedger'">
    <app-ledger></app-ledger>
  </div>


  <div *ngIf="mode=='solve'">
    <app-solve></app-solve>
  </div>

  <div *ngIf="mode==='viewSpecificTask'">
    <app-solve [taskOfInterest]="taskOfInterest"></app-solve>
  </div>

  <div *ngIf="mode=='inviteFriends'">
    <app-invite-friend></app-invite-friend>
  </div>

  <div *ngIf="mode==='about'">
    <app-about></app-about>
  </div>

  <div *ngIf="mode==='contact'">
    <app-contact></app-contact>
  </div>

</div>
