img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

input {
  margin-bottom: 1vh;
  margin-top: 3vh;
}

textarea {
  border: solid black;
  padding-top: 7vh;
}

button {
  font-weight: 520;
  font-size: 21px;
  background-color: black;
  margin-top: 5vh;
  padding-top: 1.7vh;
  padding-bottom: 1.7vh;
  min-width: 100%;
}

.ourRedColor {
  color: rgb(213, 54, 84);
}

.ourBlueColor {
  color: rgb(93, 188, 210);
}

.ourRedBackgroundColor {
  background-color: rgb(213, 54, 84);
}

.ourBlueBackgroundColor {
  background-color: rgb(93, 188, 210);
}
.contentContainer {
  text-align: center;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 24vh;
}

.titleImage {
  width: 70%;
}

.titleBeneathImage {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.table {
  margin-top: 7vh;
}


a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.gce-table {
  margin-top: 2vh;
}

thead {
  background-color: black;
  color: rgb(213, 54, 84);
}

tr {
  border: solid thin black;
}

td {
  border-bottom: solid thin black;
  color: rgb(93, 188, 210);
}

.highlightedTableEntry {
  background-color: black;
  color: rgb(93, 188, 210);
}

.adPad2 {
  padding-top: 2vh;
}

.adPad {
  padding-top: 6vh;
}

@media screen and (min-width: 600px) {
  .contentContainer {
    width: 60%;
  }
}

@media screen and (min-width: 1100px) {
  .contentContainer {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .contentContainer {
    width: 30%;
  }
}
