{
  "port": 3001,
  "backendURL": "https://localhost:3001",
  "logLevel": 3,
  "certificateFile": "/etc/letsencrypt/live/gitcoin-enterprise.org/fullchain.pem",
  "certificatePrivateKeyFile": "/etc/letsencrypt/live/gitcoin-enterprise.org/privkey.pem",
  "ledgerConnector": "LedgerConnector",
  "enterpriseInternalCollaborationCurrency": "GitCoin",
  "enterpriseInternalCollaborationCurrencySymbol": "GIT",
  "token": "github token to post comment",
  "eMail": "michael@gitcoin-enterprise.org",
  "pw": "yourEMailPasswordGoesHere",
  "invitationsPerUserPerDay": 7,
  "smtpHost": "smtp.your-smtp-host.com",
  "notifierToken": "ask the Botfather in telegram for your token",
  "notifierSupportChannel": "create a telegram channel, add your bot as admin allow him to post messages and find out the chat id of this support channel by sending a message in this channel to your bot and logging 'msg' see constructor of telegram service",
  "gitHubOAuthClient": "create an OAuth App on your github instance and check it out",
  "gitHubOAuthSecret": "create an OAuth App on your github instance and check it out",
  "testMode": false,
  "gitHubAPIBaseURL": "https://api.github.com",
  "gitHubURL": "https://github.com",
  "dependentOnService": ""
}