{
  "port": 3001,
  "backendURL": "https://localhost:3001",
  "frontendURL": "http://localhost:4200",
  "logLevel": 3,
  "certificateFile": "/etc/letsencrypt/live/gitcoin-enterprise.org/fullchain.pem",
  "certificatePrivateKeyFile": "/etc/letsencrypt/live/gitcoin-enterprise.org/privkey.pem",
  "persistencyService": "PersistencyService",
  "telegramNotifierToken": "",
  "telegramNotifierSupportChannel": "",
  "authenticationService": "AuthenticationService",
  "dependentOnService": "",
  "oAuthProviderURL": "https://github.com",
  "gitHubTokenForPostingCommentsAndForGettingIssueData": "github token to post comment",
  "gitHubPackagePublishingToken": "",
  "gitHubOAuthClient": "create an OAuth App on your github instance and check it out",
  "gitHubOAuthSecret": "create an OAuth App on your github instance and check it out",
  "gitHubAPIBaseURL": "https://api.github.com",
  "gitHubURL": "https://github.com",
  "proxyHostForEnterpriseGitHubInstance": "",
  "proxyHostForEnterpriseGitHubInstancePort": ""
}