{
  "port": "3000",
  "logLevel": 3,
  "certificateFile": "/etc/letsencrypt/live/gitcoin-enterprise.org/cert.pem",
  "certificatePrivateKeyFile": "/etc/letsencrypt/live/gitcoin-enterprise.org/privkey.pem",
  "ledgerConnector": "LedgerConnector",
  "enterpriseInternalCollaborationCurrency": "GitCoin",
  "enterpriseInternalCollaborationCurrencySymbol": "GIT",
  "token": "personalaccesstoken123"
}