<span *ngIf="user.firstName===''">
  <img src="../../assets/avatar-2.png" alt="" width="77%">
  <h4 class="titleBeneathImage">
    Profile
  </h4>
  <input type="text" class="form-control" placeholder="enter company user id - e.g. d123" [(ngModel)]="user.companyId"
         autofocus>

  <span *ngIf="user.companyId.length>0">
    <button type="button" class="btn ourBlueColor" (click)="onUserIdEntered()">
      Next
    </button>
  </span>
</span>


<span *ngIf="user.firstName!==''">

  <app-user-card [user]="user"></app-user-card>
</span>
