<img src="../../assets/avatar-2.png" alt="" width="72%">
<!-- <span *ngIf="justKidding">
    <img src="../../assets/avatar-2.png" alt="" width="72%">
  </span>
  <span *ngIf="!justKidding">
    <img class="card-img-top" src="{{authenticationData.avatarURL}}" alt="" style="width:72%">
  </span> -->

<span *ngIf="!transferCompleted">
  <div class="adPad2">
    <h4 class="titleBeneathImage ourRedColor" style="margin-top: 2.7vh"> {{authenticationData.login}}</h4>
    <h4 class="titleBeneathImage ourBlueColor" style="margin-top: 2.7vh">
      Balance: {{balance}} EIC
    </h4>

    <span *ngIf="!viewBountiesAndFundings">
      <button id="bountiesAndFundings" type="button" class="btn ourRedColor" (click)="clickBountiesAndFundings()">
        <i class="fa fa-gift" aria-hidden="true" style="padding-right: 1vw;"></i>
        Bounties & Fundings
        <i class="fa fa-gift" aria-hidden="true" style="padding-left: 1vw;"></i>
      </button>

      <a href="{{getLink()}}" target="__blank">
        <button type="button" class="btn ourBlueColor">
          <i class="fa fa-github" aria-hidden="true" style="padding-right: 1vw;"></i>
          Visit on GitHub
          <i class="fa fa-github" aria-hidden="true" style="padding-left: 1vw;"></i>
        </button>
      </a>
    </span>
  </div>

  <div *ngIf="viewBountiesAndFundings" class="adPad">

    <hr>
    <p><br></p>

    <h4 class="titleBeneathImage ourRedColor">
      Your Fundings
    </h4>
    <div *ngIf="usersFundings.length===0" style="margin-top: 7vh;">
      You did not fund any task yet.
    </div>

    <span *ngIf="usersFundings.length>0">
      <app-ledger-fundings [usersFundings]="usersFundings" [p2pAccessToken]="authenticationData.p2pAccessToken" (transferTriggered)="onTransferTriggered($event)">
      </app-ledger-fundings>
    </span>


    <div class="adPad">

      <h4 lass="titleBeneathImage ourRedColor">
        Your Bounties
      </h4>

        <app-ledger-bounties [usersBounties]="usersBounties"></app-ledger-bounties>

    </div>
  </div>
</span>
<div *ngIf="transferCompleted">

  <h4 class="titleBeneathImage">
    Transferred Successfully
  </h4>
  <div *ngFor="let newLedgerEntry of newLedgerEntries">

    <p class="ourBlueColor"><br>
      I transferred {{newLedgerEntry.amount}} EIC to {{newLedgerEntry.receiver}}.
    </p>

    <div id="transactionId" style="display: none;">
      <!-- used e.g. for acceptance tests -->
      {{newLedgerEntry.id}}
    </div>
    <button id="viewTransactionInLedger" type="button" class="btn ourRedColor"
      (click)="clickViewTransactionInLedger(newLedgerEntry)">
      <i class="fa fa-step-forward" aria-hidden="true" style="padding-right: 3vw;"></i>
      View Transaction in Ledger
      <i class="fa fa-step-forward" aria-hidden="true" style="padding-left: 3vw;"></i>
    </button>
  </div>
  <!-- <app-check-it-on-github [taskOfInterest]="task"></app-check-it-on-github>

      <app-task-card [task]="task"></app-task-card> -->
</div>
