<div style="margin-top: 4vh;">
  <div *ngIf="!accordion" class="card">
    <div class="card-body">
      <h4 class="card-title">{{task.title}}</h4>
      <p class="card-text">{{task.description}}</p>
      <!-- <p class="card-text">Bounty: {{task.funding}} Enterprise Internal Coins</p> -->
      <p class="card-text">ID: {{getId()}}</p>
    </div>
  </div>

  <div *ngIf="accordion" class="ourBlueColor" style="color: red important!">
    <accordion [isAnimated]="true" style="color: red important!">

      <accordion-group heading="{{task.title}}" style="color: red important!">
        <div style="border: solid black; padding-top: 7vh;">
          {{task.description}}
          <p><br></p>
          <accordion-group heading="Comments">
            <div style="border: solid black; padding-top: 7vh;">
              <p>Comment 1</p>
            </div>
          </accordion-group>

        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
