<div class="form-group" class="taskDetails">
  <span *ngIf="!fundingCompleted">

    <img src="../../assets/trust-and-collaboration.png" alt="" width="70%"> <br>
    <!-- <h4 class="titleBeneathImage">
      Fund a Task
    </h4> -->

    <span *ngIf="task.title===''">
      <h4 class="titleBeneathImage ourRedColor">
        Enter the Link to the Issue
      </h4>
      <h4 class="titleBeneathImage ourBlueColor">
        Your balance is: {{balance}} EIC
      </h4>
      <input type="text" class="form-control" id="taskLink"
        placeholder="https://github.com/gitcoin-enterprise/gitcoin-enterprise/issues/24" [(ngModel)]="taskLink">

      <div *ngIf="task.link!==''">

        <button id="next" type="button" class="btn ourBlueColor" (click)="getInfoFromTaskLink()">
          <i class="fa fa-step-forward" aria-hidden="true" style="padding-right: 3vw;"></i>
          Next
          <i class="fa fa-step-forward" aria-hidden="true" style="padding-left: 3vw;"></i>
        </button>

      </div>
    </span>

    <div *ngIf="task.title!==''" class="taskDescription">

      <h4 class="titleBeneathImage ourRedColor">
        Choose Amount
      </h4>

      <input type="range" min="{{minimumRange}}" max="{{ balance }}" class="slider" [(ngModel)]="currentRange"
        (change)="handleRangeSetting()" />
      <p></p>
      <p class="ourBlueColor">
        Your balance after this transaction will be
      </p>
      <p></p>
      <h4 class="ourRedColor">
        {{balance - this.currentRange}} EIC
      </h4>

      <button id="saveFunding" type="button" class="btn ourBlueColor" (click)="saveFunding()">
        <!-- Fund Task with {{this.currentRange}} EIC -->
        <i class="fa fa-check" aria-hidden="true" style="padding-right: 3vw;"></i>
        Fund with {{this.currentRange}} EIC
        <i class="fa fa-check" aria-hidden="true" style="padding-left: 3vw;"></i>
      </button>

      <app-task-card [task]=task></app-task-card>
      <p><br></p>

    </div>
  </span>

  <span *ngIf="fundingCompleted && newLedgerEntry!==undefined">

    <img src="../../assets/avatar-1.png" alt="" width="70%">
    <h4 class="titleBeneathImage ourRedColor">
      Funded Successfully
    </h4>
    <p class=" titleBeneathImage ourBlueColor">
      Added {{newLedgerEntry.amount}} EIC to the Bounty
    </p>

    <p></p>
    <div id="transactionId" style="display: none;">
      <!-- used e.g. for acceptance tests -->
      {{newLedgerEntry.id}}
    </div>
    <button id="viewTransactionInLedger" type="button" class="btn ourRedColor" (click)="clickViewTransactionInLedger()">
      <i class="fa fa-step-forward" aria-hidden="true" style="padding-right: 3vw;"></i>
      View Transaction in Ledger
      <i class="fa fa-step-forward" aria-hidden="true" style="padding-left: 3vw;"></i>
    </button>

    <app-check-it-on-github [taskOfInterest]="task"></app-check-it-on-github>

    <app-task-card [task]="task"></app-task-card>
  </span>

</div>
