<span *ngIf="entryIdOfInterest===undefined">

  <h4 lass="titleBeneathImage ourRedColor" style="margin-top: 2vh">
    Click Entry to Trigger Payout
  </h4>

  <table class="table table-striped">
    <thead class="ourRedColor">
      <tr>
        <th>Task</th>
        <th>Funding</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of usersFundings" (click)="onEntryClicked(entry)">
        <td>{{getIt(entry.taskLink)}}</td>
        <td>{{entry.amount}} EIC</td>
      </tr>
    </tbody>
  </table>
</span>


<span *ngIf="entryIdOfInterest!==undefined">

  <div class="ourBlueColor adPad">
    Please enter which GitHub User shall receive how much of the {{entryIdOfInterest.amount}} EIC.
  </div>

  <div style="width: 100%; margin-left: auto; margin-right: auto;">

    <table class="table table-striped">
      <thead class="ourRedColor">
        <tr>
          <th>GitHub User</th>
          <th>Amount in EIC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receiver of receivers">
          <!-- <td><input id="githubUser"type="text" class="form-control" [(ngModel)]="receiver.login" style="width: 90%;" placeholder="Enter Receiver"></td> -->
          <td>
              <app-typeahead [placeHolder]="'Enter Receiver'" [items]="potentialReceivers" [selectedItem]="selectedItem"
                (itemSelected)="onReceiverSelected($event)">
              </app-typeahead>
            <!-- [inputStyle]="md.typeAheadStyleDances" -->
          </td>
          <td><input id="amount" type="number" [(ngModel)]="receiver.amount" style="width: 90%;"></td>
        </tr>
      </tbody>
    </table>
    <button id="addReceiver" (click)="addReceiver()" class="ourRedColor">
      <i class="fa fa-plus" aria-hidden="true" style="padding-right: 1vw;"></i>
      Add More Receivers
      <i class="fa fa-plus" aria-hidden="true" style="padding-left: 1vw;"></i>
    </button>
    <button id="transferCoins" (click)="transferCoins()" class="ourBlueColor">
      <i class="fa fa-usd" aria-hidden="true" style="padding-right: 1vw;"></i>
      Transfer Coins
      <i class="fa fa-usd" aria-hidden="true" style="padding-left: 1vw;"></i>
    </button>
  </div>
</span>
