<span *ngIf="entryIdOfInterest===undefined">

  <div class="ourBlueColor adPad2">
    Click an entry to trigger a payout
  </div>

  <table class="table table-striped">
    <thead class="ourRedColor">
      <tr>
        <th>Task</th>
        <th>Funding</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of usersFundings" (click)="onEntryClicked(entry)">
        <td>{{getIt(entry.taskLink)}}</td>
        <td>{{entry.amount}}</td>
      </tr>
    </tbody>
  </table>
</span>


<span *ngIf="entryIdOfInterest!==undefined">

  <div class="ourBlueColor adPad">
    Please enter which GitHub User shall receive how much of the {{entryIdOfInterest.amount}} EIC
  </div>

  <div style="width: 100%; margin-left: auto; margin-right: auto;">

    <table class="table table-striped">
      <thead class="ourRedColor">
        <tr>
          <th>GitHub User</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receiver of receivers">
          <td><input type="text" [(ngModel)]="receiver.login" style="width: 90%;"></td>
          <td><input type="text" [(ngModel)]="receiver.percentage" style="width: 90%;"></td>
        </tr>
      </tbody>
    </table>
    <button (click)="addReceiver()" class="ourRedColor">
      <i class="fa fa-plus" aria-hidden="true" style="padding-right: 1vw;"></i>
      Add More Receivers
      <i class="fa fa-plus" aria-hidden="true" style="padding-left: 1vw;"></i>
    </button>
    <button (click)="send()" class="ourBlueColor">
<i class="fa fa-usd" aria-hidden="true" style="padding-right: 1vw;"></i>
Transfer Coins
<i class="fa fa-usd" aria-hidden="true" style="padding-left: 1vw;"></i>
</button>
  </div>
</span>
