<div class="adPad">


  <img src="../../assets/peer-2-peer.jpg" alt="" width="77%">
  <h4 class="titleBeneathImage">
    Inspired by <a href="https://gitcoin.co/" target="__blank">GitCoin.co</a>
  </h4>

  <img src="../../assets/gitcoin.svg" alt="" width="77%">


  <p><br></p>
  <a href="https://gitcoin.co/">gitcoin.co</a> improves Open Source & Peer To Peer collaboration.

  <p><br></p>

  <a href="https://gitcoin-enterprise.org/">gitcoin-enterprise.org</a> improves Inner Source & Peer To Peer
  collaboration in the
  enterprise context which is sadly restricted by inventions like income taxes and other impediments which are slowing
  down global progress.
</div>
