<div class="abstract">
  This project is inspired by <a href="https://gitcoin.co/">gitcoin.co</a>.
  <p><br></p>
  <a href="https://gitcoin.co/">gitcoin.co</a> improves Open Source & Peer To Peer collaboration.

  <p><br></p>

  <a href="https://gitcoin-enterprise.org/">gitcoin-enterprise.org</a> improves Inner Source & Peer To Peer collaboration in the
  enterprise context which is sadly restricted by inventions like income taxes and other impediments which are slowing
  down global progress.
</div>
