<span *ngIf="entryIdOfInterest===undefined">

  <button (click)="downloadAsJSON()" type="button" class="btn ourRedColor">
    <i class="fa fa-wrench" aria-hidden="true" style="padding-right: 1vw;"></i>
    Download as JSON
    <i class="fa fa-wrench" aria-hidden="true" style="padding-left: 1vw;"></i>
  </button>

  <button (click)="downloadAsCSV()" type="button" class="btn ourBlueColor">
    <i class="fa fa-file-excel-o" aria-hidden="true" style="padding-right: 1vw;"></i>
    Download as CSV
    <i class="fa fa-file-excel-o" aria-hidden="true" style="padding-left: 1vw;"></i>
  </button>

  <button (click)="triggerBackup()" type="button" class="btn ourBlueColor">

    <i class="fa fa-github" aria-hidden="true" style="padding-right: 1vw;"></i>
    Backup on GitHub
    <i class="fa fa-github" aria-hidden="true" style="padding-left: 1vw;"></i>

  </button>

  <table class="table table-striped">
    <thead class="ourRedColor">
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ledgerEntry of ledgerEntries" (click)="onEntryClicked(ledgerEntry)">

        <td id="taskId-{{ledgerEntry.id}}" *ngIf="ledgerEntry.id===transactionId" class="highlightedTableEntry">
          ...{{ledgerEntry.id.substr(ledgerEntry.id.length - 4, 4)}}</td>
        <td id="taskId-{{ledgerEntry.id}}" *ngIf="ledgerEntry.id===transactionId" class="highlightedTableEntry">
          {{ledgerEntry.date.substr(0, ledgerEntry.date.length -5)}}</td>
        <td id="taskId-{{ledgerEntry.id}}" *ngIf="ledgerEntry.id===transactionId" class="highlightedTableEntry">
          {{ledgerEntry.amount}}</td>


        <td id="taskId-{{ledgerEntry.id}}" *ngIf="ledgerEntry.id!==transactionId">
          ...{{ledgerEntry.id.substr(ledgerEntry.id.length - 4, 4)}}</td>
        <td id="taskId-{{ledgerEntry.id}}" *ngIf="ledgerEntry.id!==transactionId">
          {{ledgerEntry.date.substr(0, ledgerEntry.date.length -5)}}</td>
        <td id="taskId-{{ledgerEntry.id}}" *ngIf="ledgerEntry.id!==transactionId">{{ledgerEntry.amount}}</td>
      </tr>

    </tbody>
  </table>

  <div class="adPad">
    Transaction Volume <p></p>
    <h2 class="ourBlueColor">
      {{getSum()}} EIC
    </h2>
  </div>



</span>

<span *ngIf="entryIdOfInterest!==undefined">
  <button (click)="backToOverview()" type="button" class="btn ourBlueColor">
    <i class="fa fa-step-backward" aria-hidden="true" style="padding-right: 1vw;"></i>
    Back To Overview
    <i class="fa fa-step-backward" aria-hidden="true" style="padding-left: 1vw;"></i>
  </button>

  <table class="table table-striped">
    <thead class="ourRedColor" style="background-color: black">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Transaction</td>
        <td>{{entryIdOfInterest.id}}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{entryIdOfInterest.date}}</td>
      </tr>
      <tr>
        <td>From {{getSourceType()}}</td>
        <td>
          <a class="nostyle" target="_blank" href="{{getSourceLink()}}">
            {{getSource()}}
          </a>
        </td>
      </tr>
      <tr>
        <td>To {{getTargetType()}}</td>
        <td>
          <a class="nostyle" target="_blank" href="{{getTargetLink()}}">
            {{getTarget()}}
          </a>
        </td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>{{entryIdOfInterest.amount}}</td>
      </tr>

    </tbody>
  </table>

</span>
