<div class="card" style="width:100%; margin-top: 12vh;">
  <img class="card-img-top" src="../../assets/avatar-1.png" alt="Card image" style="width:90%">
  <div class="card-body">
    <h4 class="card-title">First Name: {{user.firstName}}</h4>
    <h5 class="card-title">Company ID: {{user.companyId}}</h5>
    Balance: {{user.balance}} EIC
  </div>
</div>

<a href="{{user.link}}" target="__blank">
  <button type="button" class="btn ourBlueColor">
    <i class="fa fa-github" aria-hidden="true" style="padding-right: 1vw;"></i>
    {{user.firstName}} on GitHub
    <i class="fa fa-github" aria-hidden="true" style="padding-left: 1vw;"></i>
  </button>
</a>

